SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=
SPOTIFY_REDIRECT_URI=
BCD_BEARER_TOKEN=
MISSION_URL=https://bcd-api.fly.dev/api/missions/daily-mission
PLAYLIST_TIMEZONE=America/New_York
